.dashboard{

display:flex;

min-height:100vh;

background:#F5F7FB;

}

.sidebar{

width:260px;

background:#2563EB;

color:white;

padding:30px 20px;

}

.sidebar h2{

margin-bottom:40px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

margin:18px 0;

}

.sidebar a{

color:white;

text-decoration:none;

display:block;

padding:12px;

border-radius:10px;

transition:.3s;

}

.sidebar a:hover{

background:rgba(255,255,255,.2);

}

.active a{

background:white;

color:#2563EB;

}

.content{

flex:1;

padding:40px;

}

.topbar{

display:flex;

justify-content:space-between;

margin-bottom:30px;

}

.welcome-card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

margin-bottom:30px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}

.card{

background:white;

padding:30px;

text-align:center;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card i{

font-size:35px;

color:#2563EB;

margin-bottom:15px;

}

.quick-actions{

margin-top:40px;

display:flex;

gap:20px;

flex-wrap:wrap;

}