.jobs-header{

text-align:center;

padding:60px 20px;

background:#2563EB;

color:white;

}

.filters{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:15px;

padding:30px;

}

.filters input,
.filters select{

padding:15px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

}

.jobs-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(330px,1fr));

gap:25px;

padding:30px;

}

.job-card{

background:white;

border-radius:15px;

padding:25px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}

.job-card:hover{

transform:translateY(-8px);

}

.company-logo{

width:70px;

height:70px;

border-radius:50%;

background:#2563EB;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:28px;

margin-bottom:20px;

}

.job-card h2{

margin-bottom:10px;

}

.job-card p{

margin:8px 0;

}