@media(max-width:992px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.nav-links{

display:none;

}

.nav-buttons{

display:none;

}

.menu-toggle{

display:block;

}

.hero h1{

font-size:2.7rem;

}

}

@media(max-width:576px){

.hero{

padding:50px 0;

}

.hero h1{

font-size:2rem;

}

.hero-buttons{

flex-direction:column;

}

.btn{

width:100%;
text-align:center;

}

}.show{

display:flex !important;
flex-direction:column;
position:absolute;
top:80px;
left:0;
width:100%;
background:white;
padding:30px;
box-shadow:0 10px 20px rgba(0,0,0,.1);

}
@media(max-width:768px){

.steps{

grid-template-columns:1fr;

}

}

/*==========================
FOOTER RESPONSIVE
===========================*/

@media(max-width:992px){

.footer-container{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:768px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.social-icons{

justify-content:center;

}

}
@media(max-width:991px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-content h1{

font-size:45px;

}

.hero-buttons{

justify-content:center;

}

.hero-search{

justify-content:center;

}

.hero-image{

margin-top:40px;

}

}

@media(max-width:600px){

.hero-content h1{

font-size:34px;

}

.hero-search{

flex-direction:column;

}

.hero-search input{

width:100%;

}

.hero-search button{

width:100%;

}

}